<p-toast></p-toast>

<p-toolbar
  class="w-full flex flex-col sm:flex-row justify-between items-center"
>
  <ng-template #start>
    <div class="flex flex-wrap gap-2">
      <p-button
        label="Nuevo Mensaje"
        icon="pi pi-plus"
        (onClick)="newMessage()"
        routerLink="new"
      ></p-button>
      <div *ngIf="selectedMessages.length > 0">
        <p-button
          severity="danger"
          label="Eliminar Mensajes"
          icon="pi pi-trash"
          outlined
          (onClick)="deleteSelectedProducts()"
        ></p-button>
      </div>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex flex-wrap gap-2">
      <!-- <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Importar "
        chooseLabel="Importar"
        auto
        customUpload
        class="inline-block"
        [chooseButtonProps]="{ severity: 'warning' }"
      ></p-fileUpload> -->
      <!-- Puedes habilitar el botón de exportar si es necesario -->
      <!--
      <p-button
          label="Export"
          icon="pi pi-upload"
          severity="secondary"
          (onClick)="exportCSV()"
      ></p-button>
      -->
    </div>
  </ng-template>
</p-toolbar>

<div class="card mt-4">
  <div class="flex flex-col sm:flex-row justify-between items-center mb-4">
    <h1 class="text-lg font-bold mb-2 sm:mb-0">Mensajes</h1>
    <div class="w-full sm:w-auto">
      <p-inputGroup>
        <p-inputgroup-addon>
          <i class="pi pi-search"></i>
        </p-inputgroup-addon>
        <input
          pInputText
          [(ngModel)]="searchQuery"
          (keyup.enter)="onSearchChange()"
          placeholder="Buscar"
          class="w-full"
        />
      </p-inputGroup>
    </div>
  </div>

  <!-- Contenedor para permitir scroll horizontal en pantallas pequeñas -->
  <div class="overflow-x-auto">
    <p-table
      [value]="messages"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [paginator]="true"
      [(selection)]="selectedMessages"
      [rowsPerPageOptions]="[10, 25, 50]"
      [showGridlines]="true"
      [stripedRows]="true"
      responsiveLayout="stack"
      [rowHover]="true"
      [lazy]="true"
    >
      <ng-template pTemplate="caption">
        <p-progressbar
          *ngIf="loading"
          mode="indeterminate"
          [style]="{ height: '6px' }"
        />
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th class="w-12">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="message">
            Mensaje <p-sortIcon field="message"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">
            Fecha Creación <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th pSortableColumn="status">
            Estado <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th class="w-32 text-center">Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-message>
        <tr>
          <td>
            <p-tableCheckbox [value]="message"></p-tableCheckbox>
          </td>
          <td>{{ message.id }}</td>
          <td>
            {{ message.message | slice : 0 : 80 }}
            {{ message.message.length > 15 ? "..." : "" }}
          </td>
          <td>{{ message.createdAt | date : "dd/MM/yyyy HH:mm" }}</td>
          <td>
            <p-tag
              [severity]="message.status === 'Activo' ? 'success' : 'warn'"
              [value]="message.status"
            ></p-tag>
          </td>
          <td>
            <div class="flex justify-center gap-2">
              <button
                pButton
                icon="pi pi-pencil"
                class="p-button-rounded p-button-warning p-button-sm"
                (click)="editMessage(message)"
              ></button>
              <button
                pButton
                icon="pi pi-trash"
                severity="danger"
                class="p-button-rounded p-button-danger p-button-sm"
                (click)="onDelete(message)"
              ></button>
              <button
                pButton
                icon="pi pi-send"
                severity="help"
                class="p-button-rounded p-button-help p-button-sm"
                (click)="messageToSend(message)"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" class="text-center p-4">
            <div class="flex flex-col items-center justify-center">
              <i class="pi pi-inbox text-2xl mb-3"></i>
              <span>No se encontraron mensajes</span>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6" class="text-center">
            <p-progressbar
              *ngIf="loading"
              mode="indeterminate"
              [style]="{ height: '6px' }"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
