<div class="flex flex-col sm:flex-row sm:space-x-4 space-y-4 sm:space-y-0">
  <!-- Campo de búsqueda -->
  <div class="p-field flex-1">
    <input
      pInputText
      type="text"
      placeholder="Buscar"
      [(ngModel)]="search"
      (input)="filtrarItems()"
      class="w-full p-2 border border-gray-300 rounded"
    />
  </div>

  <!-- Filtro por tags -->
  <div
    class="flex flex-col sm:flex-row items-start sm:items-center space-y-2 sm:space-y-0 sm:space-x-2"
  >
    <p class="font-bold">Filtrar por Tags:</p>
    <div class="flex flex-wrap gap-2">
      <span
        *ngFor="let tag of availableTags"
        (click)="toggleTag(tag.name!)"
        [ngClass]="{ selected: selectedTags.includes(tag.name!) }"
        class="cursor-pointer"
      >
        <p-tag [value]="tag.name"></p-tag>
      </span>
    </div>
  </div>
</div>
