<app-topbar
  [sidebarCollapsed]="sidebarCollapsed"
  (toggleSidebar)="toggleSidebar()"
></app-topbar>

<div class="flex">
  <!-- Componente Sidebar -->
  <app-sidebar
    [collapsed]="sidebarCollapsed"
    [(mobileVisible)]="mobileSidebarVisible"
  ></app-sidebar>

  <!-- Área de contenido principal mejorada -->
  <main
    [ngClass]="{ 'lg:ml-64': !sidebarCollapsed, 'lg:ml-16': sidebarCollapsed }"
    class="flex-1 mt-14 min-h-screen transition-all duration-300 ease-in-out p-6 md:p-8 lg:p-9 max-w-screen-2xl mx-auto"
  >
    <router-outlet></router-outlet>
  </main>
</div>
