<p-toast />
<p-dialog
  [header]="titleModal"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
  (onHide)="closeModal()"
  [style]="{ width: '550px', height: '500x' }"
>
  <p-fluid>
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label
          appLabel
          label="Nombre"
          [valid]="f['names'].valid"
          [touched]="f['names'].touched"
          [dirty]="f['names'].dirty"
        ></label>
        <input
          id="names"
          pInputText
          formControlName="names"
          placeholder="Ingrese el nombre"
        />
      </div>
      <div class="field">
        <label
          appLabel
          label="Correo"
          [valid]="f['email'].valid"
          [touched]="f['email'].touched"
          [dirty]="f['email'].dirty"
        ></label>
        <input
          id="email"
          pInputText
          formControlName="email"
          placeholder="Ingrese el correo electrónico"
        />
      </div>
      <div class="field">
        <label
          appLabel
          label="Teléfono"
          [valid]="f['phone'].valid"
          [touched]="f['phone'].touched"
          [dirty]="f['phone'].dirty"
        ></label>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-whatsapp" />
          <input
            id="phone"
            pInputText
            formControlName="phone"
            maxlength="10"
            placeholder="Ejemplo: 0991234567"
            appOnlyNumbers
            (input)="validatePhoneInput()"
          />
        </p-iconfield>
        <error-field [control]="customerForm.get('phone')!"> </error-field>
      </div>
      <div class="field">
        <label
          appLabel
          label="Sucursal"
          [valid]="f['branch'].valid"
          [touched]="f['branch'].touched"
          [dirty]="f['branch'].dirty"
        ></label>
        <p-select
          [options]="branches"
          filter="true"
          filterBy="name"
          [placeholder]="'Buscar sucursal'"
          formControlName="branch"
          autoHighlight="true"
          showClear="true"
          optionValue="id"
          optionLabel="name"
        >
        </p-select>
        <error-field [control]="customerForm.get('branch')!"> </error-field>
      </div>
      <div class="field">
        <label
          appLabel
          label="Estado"
          [valid]="f['branch'].valid"
          [touched]="f['branch'].touched"
          [dirty]="f['branch'].dirty"
        ></label>
        <p-select
          [options]="status"
          placeholder="Seleccione un estado"
          formControlName="status"
          optionValue="label"
          optionLabel="label"
        >
        </p-select>
        <error-field [control]="customerForm.get('status')!"> </error-field>
      </div>
      <div>
        <button
          class="mt-8"
          pButton
          type="submit"
          [label]="titleButton"
          [loading]="loading"
        ></button>
      </div>
    </form>
  </p-fluid>
</p-dialog>
