<p-toast />
<p-confirmdialog />

<div class="container mx-auto p-4 font-inter">
  <!-- Título principal -->
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Gestión de sucursales</h1>
    <div class="flex gap-4">
      <!-- Campo de búsqueda con PrimeNG InputGroup -->
      <div class="relative">
        <p-inputGroup>
          <p-inputgroup-addon>
            <i class="pi pi-search"></i>
          </p-inputgroup-addon>
          <input
            pInputText
            [(ngModel)]="searchTerm"
            placeholder="Buscar sucursales..."
            class="bg-card text-foreground"
          />
        </p-inputGroup>
      </div>
      <!-- Botón para agregar sucursal -->
      <p-button
        (onClick)="openAddBranchModal()"
        label="Agregar Sucursal"
        icon="pi pi-plus"
        styleClass="p-button-rounded p-button-primary"
      >
      </p-button>
    </div>
  </div>

  <!-- Listado de sucursales usando p-card -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <p-card
      *ngFor="let branch of filteredBranches"
      class="rounded-lg p-0 border border-border"
    >
      <!-- Encabezado del card -->
      <ng-template pTemplate="header">
        <div class="p-4 flex justify-between items-start">
          <div>
            <h3 class="text-lg font-semibold text-foreground">
              {{ branch.name }}
            </h3>
            <p class="text-accent text-sm mt-1 flex items-center gap-2">
              <i class="pi pi-map-marker"></i>
              {{ branch.address }}
            </p>
          </div>
          <div class="flex items-center gap-2">
            <p-tag
              [value]="branch.status"
              [ngClass]="{
                'p-tag-success': branch.status === 'Activo',
                'p-tag-danger': branch.status !== 'Activo'
              }"
              [title]="
                branch.status === 'Activo'
                  ? 'Sucursal Activa'
                  : 'Sucursal Inactiva'
              "
            ></p-tag>
          </div>
        </div>
      </ng-template>

      <!-- Contenido del card -->
      <ng-template pTemplate="content">
        <div class="grid grid-cols-2 gap-4 p-4 border-t border-border">
          <div class="bg-secondary p-3 rounded-lg">
            <p class="text-accent text-sm">Total SMS</p>
            <p class="text-foreground font-semibold mt-1">
              {{ counterMessagesByBranch(branch.id) }}
            </p>
          </div>
          <div class="bg-secondary p-3 rounded-lg">
            <p class="text-accent text-sm">Total Clientes</p>
            <p class="text-foreground font-semibold mt-1">
              {{ counterCustomersByBranch(branch.id) }}
            </p>
          </div>
          <div class="bg-secondary p-3 rounded-lg">
            <p class="text-accent text-sm">Contacto</p>
            <p class="text-foreground font-semibold mt-1">
              {{ branch.contact }}
            </p>
          </div>
        </div>
        <div
          class="flex justify-between items-center p-4 border-t border-border"
        >
          <p-button
            (onClick)="viewBranchDetails(branch)"
            label="Ver Detalles"
            icon="pi pi-angle-right"
            class="p-button-text"
          >
          </p-button>
          <p-button
            (onClick)="editBranch(branch)"
            icon="pi pi-pencil"
            styleClass="p-button-rounded p-button-text"
          >
          </p-button>
          <p-button
            (onClick)="deleteBranchById(branch)"
            icon="pi pi-trash"
            styleClass="p-button-rounded p-button-text"
            iconClass="icon-red"
          >
          </p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  <!-- Ventana modal usando p-dialog -->
  <!-- Ventana modal usando p-dialog -->
  <p-dialog
    [(visible)]="showModal"
    [modal]="true"
    [closable]="true"
    [style]="{
      width: '100%',
      height: '100%',
      'max-width': '500px',
      'max-height': '570px'
    }"
    [header]="modalTitle"
  >
    <!-- Se muestra el contenido solo si existe selectedBranch -->
    <div *ngIf="selectedBranch">
      <!-- Formulario con inputs -->
      <div class="mt-2 space-y-4">
        <div>
          <label class="font-semibold block mb-1">Nombre:</label>
          <input
            pInputText
            [(ngModel)]="selectedBranch.name"
            name="branchName"
            class="w-full"
            [disabled]="modalMode === 'view'"
          />
        </div>

        <div>
          <label class="font-semibold block mb-1">Ubicación:</label>
          <input
            pInputText
            [(ngModel)]="selectedBranch.address"
            name="branchAddress"
            class="w-full"
            [disabled]="modalMode === 'view'"
          />
        </div>

        <div>
          <label class="font-semibold block mb-1">Contacto:</label>
          <input
            pInputText
            [(ngModel)]="selectedBranch.contact"
            name="branchContact"
            class="w-full"
            [disabled]="modalMode === 'view'"
          />
        </div>

        <div>
          <label class="font-semibold block mb-1">Estado:</label>
          <p-select
            [options]="statusOptions"
            [(ngModel)]="selectedBranch.status"
            name="branchStatus"
            optionLabel="label"
            optionValue="value"
            class="w-full"
            [disabled]="modalMode === 'view'"
          ></p-select>
        </div>
      </div>

      <!-- Botones del modal -->
      <div class="mt-6 flex justify-end gap-4">
        <p-button
          (onClick)="closeModal()"
          label="Cerrar"
          class="p-button-text"
        ></p-button>

        <!-- El botón de guardar solo aparece en modo 'edit' o 'add' -->
        <p-button
          *ngIf="modalMode === 'edit' || modalMode === 'add'"
          label="Guardar Cambios"
          (onClick)="saveBranch()"
          class="p-button-primary"
          [loading]="loading"
        ></p-button>
      </div>
    </div>
  </p-dialog>
</div>
