<nav
  [ngClass]="{ 'lg:ml-64': !sidebarCollapsed, 'lg:ml-16': sidebarCollapsed }"
  class="fixed top-0 left-0 right-0 z-10 flex items-center h-16 justify-between bg-white shadow px-6 py-3 transition-all duration-300 ease-in-out"
>
  <!-- Botón hamburguesa para móviles -->
  <button
    class="p-2 text-gray-700 dark:text-gray-200"
    (click)="toggleSidebar.emit()"
  >
    <i class="pi pi-bars text-2xl"></i>
  </button>

  <!-- Logo -->
  <!--   <img src="assets/logo.png" alt="Logo" class="h-8 ml-2" /> -->

  <!-- Caja de búsqueda -->

  <!-- Iconos de notificaciones y perfil -->
  <div class="flex items-center relative">
    <button
      pButton
      [icon]="theme.currentTheme === 'dark' ? 'pi pi-sun' : 'pi pi-moon'"
      (click)="toggleTheme()"
      class="p-button-rounded p-button-secondary text-gray-700 dark:text-gray-200"
    ></button>

    <button class="p-2 mr-4 text-gray-700 dark:text-gray-200">
      <i class="pi pi-bell text-xl"></i>
    </button>

    <div class="relative">
      <button (click)="toggleMenu()" class="text-gray-700 dark:text-gray-200">
        <i class="pi pi-user text-xl"></i>
      </button>

      <!-- Menú desplegable -->
      <div
        *ngIf="menuOpen"
        class="absolute right-0 mt-2 w-56 bg-white border shadow-lg rounded-lg transition-all duration-300 ease-in-out transform origin-top-right animate-fade-in"
      >
        <!--         <div class="p-4 border-b flex items-center">
          <img
            src="assets/user.jpg"
            alt="User Avatar"
            class="h-10 w-10 rounded-full"
          />
          <div class="ml-3">
            <p class="font-semibold">Pauline Seitz</p>
            <p class="text-sm text-gray-500">Web Designer</p>
          </div>
        </div> -->
        <ul class="p-2">
          <li
            class="p-2 hover:bg-gray-100 cursor-pointer flex items-center"
            (click)="logout()"
          >
            <i class="pi pi-sign-out mr-2"></i> Cerrar Sesión
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
