<div class="flex flex-1">
  <div
    *ngIf="!whatsappConnected"
    class="hidden lg:flex w-1/2 bg-[#00BFA5] text-white flex-col justify-center items-center p-20"
  >
    <div class="mb-4">
      <i class="pi pi-whatsapp text-5xl"></i>
    </div>

    <h2 class="text-2xl font-bold mb-2">WhatsApp Web</h2>
    <p class="max-w-md text-center leading-relaxed m-4">
      Para usar WhatsApp en tu computadora, abre WhatsApp en tu teléfono, toca
      <strong>Menú</strong> o <strong>Configuración</strong> y selecciona
      <strong>Dispositivos Vinculados</strong>.
    </p>
    <p class="mt-4 max-w-md text-center text-sm opacity-80">
      Mantén tu teléfono conectado a internet para que la sesión no se cierre.
    </p>
  </div>

  <div class="flex-1 flex flex-col p-4">
    <div *ngIf="!whatsappConnected" class="text-center">
      <h2 class="text-xl font-semibold text-gray-700 mb-4">
        Escanea el código QR con WhatsApp
      </h2>

      <div
        *ngIf="qrCodeUrl; else waitingQR"
        class="border border-gray-300 p-4 rounded-lg shadow-md inline-block"
      >
        <img
          [src]="qrCodeUrl"
          alt="QR Code"
          class="w-full h-full object-contain"
        />
      </div>

      <ng-template #waitingQR>
        <p class="text-gray-500">Esperando QR...</p>
        <p class="text-sm text-accent dark:text-dark-accent">
          El código QR se actualiza en {{ timeLeft }} segundos
        </p>
      </ng-template>
    </div>

    <div
      *ngIf="whatsappConnected"
      class="flex justify-center items-center bg-gray-100 p-24"
    >
      <!-- Card contenedor -->
      <div
        class="bg-white rounded-lg shadow-md p-6 max-w-md w-full animate-fadeIn"
      >
        <!-- Encabezado -->
        <div class="text-center mb-4">
          <h2 class="text-xl font-semibold text-gray-700">
            ¡WhatsApp está conectado! 🎉
          </h2>
          <p class="text-gray-500">Información de la cuenta</p>
        </div>

        <!-- Información de usuario -->
        <div class="space-y-4">
          <div class="flex items-center space-x-4">
            <img
              [src]="userInfo.avatar"
              alt="Profile Picture"
              class="w-16 h-16 rounded-full object-cover"
            />
            <div>
              <h2 class="text-lg font-semibold text-gray-800">
                {{ userConnected?.name }}
              </h2>
              <p class="text-sm text-gray-500">
                {{ userConnected?.id }}
              </p>
            </div>
          </div>

          <!-- Estado -->
          <div class="p-4 bg-gray-50 rounded-md">
            <p class="text-sm text-gray-600">
              {{ userInfo.status }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
